#menu {
        border-color: black;
        border: 1px;
}

#logo {
    border-radius: 5px;
}

@media (max-width: 992px){
    #menu a {
        color: lightgray;
    }
}

@media (min-width: 1200px){
    #menu {
        font-size: 1.2em;
    }
}

