.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.overlay {
    opacity: 0;    
    transition: opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.overlay-link,
.overlay-text {    
    box-sizing: border-box;
    justify-content: center;
    align-items: center;  
    margin: 2em;
    padding: 3px;  
}

.overlay:hover {
    opacity: 1;
}

.image-container:hover img {
    opacity: 0.3;
}

@media (max-width: 992px){
    #menu a {
        color: lightgray;
    }

    .image-container img {
        opacity: 0.3;
    }

    .overlay { opacity: 1;}

    .overlay-link, 
    .overlay-text {
        margin: 1em 
    }



}

@media (min-width: 1200px){
    #menu {
        font-size: 1.2em;
    }

    .container-xl {
        display: flex;
        justify-content: space-between;   
    }

    .smaller {
        width: 48%;
    }
}

